#gara {
    margin-top: 30px;
}
#gara .nome {
    display: inline-block;
}
#gara .metri {
    float: right;
}
#gara > div {
    background: blue;
    margin: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    width: 20%;
    min-width: 130px;
}
body {
    padding: 20px;
}
#start {
    margin-top: 30px;
}
